{% extends "home/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}page page--content{% endblock %}

{% block page_body %}

<div class="container-fluid bg-primary content-page">
    <div class="container">
        <div class="row hero text-light py-5">
            <div class="col-12 col-lg-10 offset-lg-1 text-center text-lg-start">
                <h2>
                    {{ page.title }}
                </h2>
                <p>
                    {{ page.description }}
                </p>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid bg-beige content-page">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                {% for block in page.body %}
                <div class="row mb-5">
                    {% include_block block %}
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col-12 d-flex flex-column flex-lg-row align-items-center acf-logo">
                        <span>Projekt je nastal s podporo</span>
                        <img src="{% static 'images/active-citizens-fund_logo.png' %}" alt="ACF logo" class="mt-4">
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-4">
                <div class="box socials">
                    <h2>{{ settings.home.MetaSettings.social_label }}</h2>
                    <div class="d-flex justify-content-center">
                        <a href="{{ settings.home.MetaSettings.facebook }}" target="_blank" class="mt-4 mx-2">
                            <div class="social-circle d-flex justify-content-center align-items-center">
                                <span class="fb-icon"></span>
                            </div>
                        </a>
                        <a href="{{ settings.home.MetaSettings.twitter }}" target="_blank" class="mt-4 mx-2">
                            <div class="social-circle d-flex justify-content-center align-items-center">
                                <span class="twitter-icon"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box newsletter">
                    <form>
                        <h2>{{ settings.home.MetaSettings.newsletter_label }}</h2>
                        <h5>{{ settings.home.MetaSettings.newsletter_sublabel }}</h5>
                        <div class="position-relative search-input mt-4">
                            <input type="email" name="email" required class="form-control border-dark" id="email">
                            <button type="submit" class="input-btn btn-primary hover-animation">
                                <span class="animated"></span>
                            </button>
                        </div>
                        <div id="response"></div>
                        <div class="checkbox d-flex align-items-center my-3">
                            <label>
                                <input type="checkbox" id="confirm-email" />
                                <span class="custom-checkbox"></span>
                                {{ settings.home.MetaSettings.newsletter_consent }}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
