{% extends "home/base_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page page--home{% endblock %}

{% block page_body %}

<div class="container-fluid bg-primary home-page">
    <div class="container">
        <div class="row hero text-light">
            <div class="col-lg-8">
                <div class="my-5">{% image page.image width-1444 class="img-fluid w-100" %}</div>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center align-items-lg-start justify-content-end">
                {% comment %}
                <h1 class="mb-4">
                    {{ page.title }}
                </h1>
                {% endcomment %}
                <p class="mb-4">
                    {{ page.description }}
                </p>
                {% if page.more_link and page.more_link_text %}
                <div class="my-5">
                    <a href="{% pageurl page.more_link %}" class="position-relative hover-animation d-flex align-items-center">
                        <span class="d-block">{{ page.more_link_text }}</span>
                        <span class="d-block arrow-right animated"></span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-beige py-5 home-page">
    <div class="container">
        <div class="row categories">
            <div class="col">
                <h2 class="my-4 text-center">{{ page.categories_heading }}</h2>
                <div class="row">
                    {% for category in promise_categories %}
                    <div class="col-md-6 col-lg-3 my-3">
                        <a href="{% if page.search_link %}{% pageurl page.search_link %}{% endif %}?category={{ category.slug }}">
                            <div class="category-box position-relative hover-animation">
                                <h4>{{ category.name }}</h4>
                                <div class="position-absolute category-image animated">{% image category.image_card width-1444 %}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-beige py-5 home-page">
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="col-10 col-md-8 col-lg-6 col-xl-4 blob d-none d-sm-block">
                <img src="{% static 'images/blob-beige.svg' %}" />
            </div>
            <div class="col-12 search-section">
                <h2 class="my-4 text-center">{{ page.search_heading }}</h2>
                <form action="{% if page.search_link %}{% pageurl page.search_link %}{% endif %}" method="get">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-xl-4 search-input position-relative">
                            <input type="text" placeholder="{{ page.search_placeholder }}" name="query" class="form-control">
                            <button type="submit" class="input-btn btn-primary">
                                <span></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container home-page">
    <div class="row text-center mt-5">
        <div class="col">
            <h2 class="mb-5">{{ page.latest_heading }}</h2>
            <div>
                <table class="table mb-5">
                    <tbody>
                        {% for promise in promises %}
                        <tr class="d-flex flex-column flex-md-row">
                            <td class="col-12 col-md-11">
                                <a href="{% if page.search_link %}{% pageurl page.search_link %}{{ promise.slug }}{% endif %}">
                                    <h6>{{ promise.title }}</h6>
                                    <div>
                                        {% for category in promise.categories.all %}
                                        <span class="tag">{{ category }}</span>
                                        {% endfor %}
                                    </div>
                                </a>
                            </td>
                            <td class="col-12 col-md-1">
                                <div class="d-flex flex-row-reverse flex-md-column align-items-center justify-content-md-center h-100">
                                    <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:{{ promise.status.color }};">
                                        {% image promise.status.icon width-1444 %}
                                    </div>
                                    <span class="mx-2 mx-md-0">
                                        {{ promise.status }}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mb-5">
                <a href="{% if page.latest_link %}{% pageurl page.latest_link %}{% endif %}" class="hover-animation">
                    <div class="latest-button btn btn-primary d-inline-flex justify-content-center align-items-center">
                        <span>{{ page.latest_button_text }}</span>
                        <span class="icon-arrow-right animated"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-beige home-page extra-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center mb-5">{{ page.social_heading }}</h2>
                <div class="row mb-5">
                    <div class="col-12 col-lg-6 mb-5">
                        <div class="newsletter bg-primary text-light h-100">
                            <div class="row">
                                <div class="d-none d-lg-block col-4 newsletter-img">
                                    {% image page.newsletter_image width-1444 %}
                                </div>
                                <div class="col-12 col-lg-8">
                                    <form onsubmit="">
                                        <h5><label>{{ settings.home.MetaSettings.newsletter_label }}</label></h5>
                                        <div class="go-input position-relative">
                                            <input id="email" type="email" name="email" required class="form-control" />
                                            <button type="submit" class="input-btn btn-primary hover-animation">
                                                <span class="animated"></span>
                                            </button>
                                        </div>
                                        <div id="response"></div>
                                        <div class="mt-3 checkbox d-flex align-items-center">
                                            <label class="d-flex align-items-center">
                                                <input type="checkbox" id="confirm-email" />
                                                <span class="custom-checkbox"></span>
                                                {{ settings.home.MetaSettings.newsletter_consent }}
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-5">
                        <div class="socials bg-primary text-light h-100">
                            <div class="row">
                                <div class="col-9">
                                    <h5>{{ settings.home.MetaSettings.social_label }}</h5>
                                    <div class="d-flex">
                                        <a href="{{ settings.home.MetaSettings.facebook }}">
                                            <div class="social-circle d-flex justify-content-center align-items-center">
                                                <span class="fb-icon"></span>
                                            </div>
                                        </a>
                                        <a href="{{ settings.home.MetaSettings.twitter }}">
                                            <div class="social-circle d-flex justify-content-center align-items-center">
                                                <span class="twitter-icon"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-none d-lg-block col-3 socials-img">
                                    {% image page.social_media_image width-1444 %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
