{% extends "home/base_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags index %}

{% block body_class %}page page--listing{% endblock %}

{% block page_body %}

<div class="container-fluid bg-primary promise-listing-page">
    <div class="container">
        <div class="row hero text-light py-5">
            <div class="col-12">
                <h1 class="mb-4 text-center">
                    {% if request.GET.isci %}
                    Rezultati za »{{ request.GET.isci }}«
                    {% elif category_name %}
                    {{ category_name }}
                    {% else %}
                    {{ page.title }}
                    {% endif %}
                </h1>
                {% if government_page %}
                <h2 class="text-center">{{ page.government_text }} <a href="{% pageurl government_page %}" class="dotted-link-white text-light">{{ page.government }}</a>.</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-beige promise-listing-page flex-grow-1">
    <div class="container">
        <form action="" method="get" id="query-form" class="row">
            <div class="col-12 d-flex flex-column flex-lg-row justify-content-lg-between">
                <div class="d-flex flex-column flex-md-row">
                    <div class="form-group">
                        <div class="position-relative select-input">
                            <select id="select-category" name="kategorija" class="form-control" onchange="selectCategory()">
                                <option value="" selected>Izberi vsebinsko področje</option>
                                {% for category in promise_categories %}
                                <option value="{{ category.slug }}" {% if category.slug == request.GET.kategorija %}selected="selected"{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-btn d-flex align-items-center">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="position-relative select-input">
                            <select id="select-status" name="status" class="form-control" onchange="selectStatus()">
                                <option value="" selected>Izberi stanje obljube</option>
                                {% for status in promise_statuses %}
                                <option value="{{ status.slug }}" {% if status.slug == request.GET.status %}selected="selected"{% endif %}>{{ status.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-btn d-flex align-items-center">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <div class="search-input position-relative d-flex align-items-center">
                            <input type="text" id="search-header" placeholder="Vpiši iskani pojem" name="isci" class="form-control" value="{{ request.GET.isci }}">
                            <button class="btn-primary input-btn" type="submit">
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            {% if promises %}
            <div class="col-12">
                {% if page.about_statuses_link %}
                <a href="{% pageurl page.about_statuses_link %}" class="icon-information">
                    <div class="d-flex align-items-center justify-content-end mb-1 px-lg-5">
                        <img src="{% static 'icons/information.svg' %}" class="mx-2" />
                        <span>Kaj pomenijo posamezni statusi?</span>
                    </div>
                </a>
                {% endif %}

                {% if current_mandate %}
                <div class="promises-list mb-5">
                    {% for promise in promises %}
                    <hr />
                    <a href="{% pageurl current_mandate %}{{ promise.slug }}" class="d-flex flex-column flex-lg-row">
                        <div class="col-12 col-md-2 px-5 px-lg-4">
                            {% if promise.first_category %}
                            {% image promise.first_category width-1444 class="img-fluid w-100" %}
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-7 px-2 px-lg-5">
                            <div>
                                {% for category in promise.categories.all %}
                                <span class="tag">{{ category.name }}</span>
                                {% endfor %}
                            </div>
                            <h4>{{ promise.title }}</h4>
                            <p>
                                {% if promise.latest_updates.0.conclusion %}
                                {{ promise.latest_updates.0.conclusion }}
                                {% else %}
                                {{ promise.search_description }}
                                {% endif %}
                            </p>
                            <div class="read-more">
                                <span class="read-more-tag dotted-link-blue">
                                    Celotna analiza
                                </span>
                                <span class="arrow-right-blue animated"></span>
                            </div>
                        </div>
                            <div class="col-12 col-md-3 updates-column">
                                <div class="text-center date">
                                    {{ promise.latest_updates.0.date|date:'j. F Y' }}
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    {% if promise.latest_updates.1 %}
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:{{ promise.latest_updates.1.status.color }};">
                                            {% image promise.latest_updates.1.status.icon width-1444 %}
                                        </div>
                                        <span class="status-text mx-2 mx-md-0">
                                            {{ promise.latest_updates.1.status }}
                                        </span>
                                    </div>
                                    <div class="arrow-right-blue-long"></div>
                                    {% endif %}
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:{{ promise.status.color }};">
                                            {% image promise.status.icon width-1444 %}
                                        </div>
                                        <span class="status-text mx-2 mx-md-0">
                                            {{ promise.status }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <!-- </tr> -->
                    </a>
                    {% endfor %}
                    <hr />
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if not promises %}
            <div class="col-12 no-results mb-5 text-center">
                Nobena obljuba ne ustreza danim filtrom.
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
