{% extends "home/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags index %}

{% block body_class %}page page--promise{% endblock %}

{% block page_body %}

<div class="container-fluid bg-primary promise-page pb-5">
    <div class="container">
        <div class="row hero text-light py-5">
            <div class="col-lg-7 offset-lg-1 mb-5 mb-lg-0">
                <h1 class="mb-4">
                    {% if page.full_text %}{{ page.full_text }}{% else %}{{ page.title }}{% endif %}
                </h1>
                <div>
                    {% for category in page.categories.all %}
                    <span class="tag">{{ category }}</span>
                    {% endfor %}
                </div>
                {% if not page.quote %}
                <div class="my-4 source">
                    Vir: <a href="{{ page.source_url }}">{{ page.source_name }}</a>
                </div>
                {% endif %}
                {% if page.quote %}
                <div class="quote">
                    <p>
                        {{ page.quote }}
                    </p>
                    <div class="my-4 source">
                        Vir: <a href="{{ page.source_url }}">{{ page.source_name }}</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-4 position-relative promise-status">
                <div class="white-blob"></div>
                <div class="position-relative">
                    <div class="icon d-flex justify-content-center align-items-center" style="background-color:{{ page.status.color }};">
                        {% image page.status.icon width-1444 %}
                    </div>
                    <span>{{ page.status }}</span>
                    <hr>
                    <p>{{ page.status.description }}</p>
                </div>
            </div>
        </div>
        {% if page.image %}
        <div class="d-none d-xl-block row position-relative">
            <div class="position-absolute header-image">
                {% image page.image fill-200x200 %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container-fluid bg-light promise-page extra-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                {% for update in page.sorted_updates.all %}
                    {% with next_index=forloop.counter0|add:1 %}
                        {% with next_update=page.sorted_updates.all|index:next_index %}
                        <div class="row update">
                            <div class="col-12 col-lg-2 d-flex flex-column align-items-lg-center position-relative">
                                <div class="status position-absolute d-flex align-items-center">
                                    <div class="status-text d-flex align-items-center">
                                        <div class="icon-status d-flex align-items-center justify-content-center" style="background-color:{{ update.status.color }};">
                                            {% image update.status.icon width-1444 %}
                                        </div>
                                        <span>{{ update.status }}</span>
                                    </div>
                                    <span class="date">{{ update.date }}</span>
                                </div>
                                {% if not forloop.last %}
                                <div class="d-none d-lg-block line" style="background-image: linear-gradient({{ update.status.color }}, {{ next_update.status.color }});"></div>
                                {% endif %}
                            </div>
                            <div class="col pl-0 pt-5 my-5 rich-text">
                                {% if update.title %}<h2>{{ update.title }}</h2>{% endif %}
                                {{ update.content|richtext }}
                            </div>
                        </div>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="col-12 col-lg-4">
                <div class="box socials">
                    <h2>{{ settings.home.MetaSettings.share_label }}</h2>
                    <h5>{{ settings.home.MetaSettings.share_sublabel }}</h5>
                    <div class="d-flex justify-content-center">
                        <div class="social-circle d-flex justify-content-center align-items-center mt-4 mx-2 isfbbox">
                            <span class="fb-icon"></span>
                        </div>
                        <div class="social-circle d-flex justify-content-center align-items-center mt-4 mx-2 istwbox">
                            <span class="twitter-icon"></span>
                        </div>
                        <div class="social-circle d-flex justify-content-center align-items-center mt-4 mx-2 isembox">
                            <span class="email-icon"></span>
                        </div>
                    </div>
                </div>
                <div class="box newsletter d-none d-lg-block">
                    <form>
                        <h2>{{ settings.home.MetaSettings.newsletter_label }}</h2>
                        <h5>{{ settings.home.MetaSettings.newsletter_sublabel }}</h5>
                        <div class="go-input position-relative mt-4">
                            <input type="email" name="email" required class="form-control border-dark" id="email">
                            <button type="submit" class="input-btn btn-primary hover-animation">
                                <span class="animated"></span>
                            </button>
                        </div>
                        <div class="text-dark" id="response"></div>
                        <div class="checkbox d-flex align-items-center my-3">
                            <label>
                                <input type="checkbox" id="confirm-email" />
                                <span class="custom-checkbox"></span>
                                {{ settings.home.MetaSettings.newsletter_consent }}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
