{% extends "home/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page page--listing{% endblock %}

{% block page_body %}

<div class="container-fluid bg-primary promise-listing-page">
    <div class="container">
        <div class="row hero text-light py-5">
            <div class="col-lg-7 offset-lg-1">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-4">{{ page.search_title }}</h1>
                    </div>
                </div>
                <form action="" method="get">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="select-category">{{ page.category_label }}</label>
                                <div class="position-relative select-input">
                                    <select id="select-category" name="category" class="form-control">
                                        <option value="" selected>Vse kategorije</option>
                                        {% for category in promise_categories %}
                                        <option value="{{ category.slug }}" {% if category.slug == request.GET.category %}selected="selected"{% endif %}>{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-btn d-flex align-items-center">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="search-header">{{ page.search_label }}</label>
                                <div class="search-input position-relative">
                                    <input type="text" id="search-header" placeholder="{{ page.search_placeholder }}" name="query" class="form-control" value="{{ request.GET.query }}">
                                    <button class="btn-primary input-btn" type="submit">
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-beige py-5 promise-listing-page">
    <div class="container">
        <div class="row mb-4 my-lg-4">
            <div class="d-none d-lg-flex col-12 filters justify-content-center">
                <a href="?category={{ status.slug }}">
                    <div>
                        <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:black;">
                            {% image status.icon width-1444 %}
                        </div>
                        <span>Vse obljube ({{ promises|length }})</span>
                    </div>
                </a>
                {% for status in promise_statuses %}
                <a href="?category={{ status.slug }}">
                    <div>
                        <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:{{ status.color }};">
                            {% image status.icon width-1444 %}
                        </div>
                        <span>{{ status.name }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
            <!-- for mobile -->
            <div id="disable-background" class="disable-background d-none"></div>
            <div class="d-lg-none col-12">
                <div class="mb-2">Filtriraj po statusih obljub</div>
                <button id="filters-mobile-button" class="btn d-flex align-items-center text-uppercase">
                    <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:black">
                        {% image status.icon width-1444 %}
                    </div>
                    <div class="mx-2">Vse obljube ({{ promises|length }})</div>
                </button>
            </div>
            <div id="filters-mobile" class="filters-mobile bg-beige closed">
                <div class="d-flex flex-column">
                    <a href="/">
                        <div>
                            <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:black">
                                {% image status.icon width-1444 %}
                            </div>
                            <span>Vse obljube ({{ promises|length }})</span>
                        </div>
                    </a>
                    {% for status in promise_statuses %}
                    <a href="{{ status.slug }}">
                        <div>
                            <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:{{ status.color }};">
                                {% image status.icon width-1444 %}
                            </div>
                            <span>{{ status.name }}</span>
                        </div>
                    </a>
                    {% endfor %}
                    <button id="filter-mobile" class="btn btn-primary d-flex align-items-center justify-content-center my-4">Prikaži</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table mb-5">
                    <tbody>
                    {% for promise in promises %}
                    <tr class="d-flex flex-column flex-md-row">
                        <td class="col-12 col-md-11">
                            <a href="{{ promise.slug }}">
                                <h6>{{ promise.title }}</h6>
                                <div>
                                    {% for category in promise.categories.all %}
                                    <span class="tag">{{ category }}</span>
                                    {% endfor %}
                                </div>
                            </a>
                        </td>
                        <td class="col-12 col-md-1">
                            <div class="d-flex flex-row-reverse flex-md-column align-items-center justify-content-md-center h-100">
                                <div class="status-circle d-flex justify-content-center align-items-center" style="background-color:{{ promise.status.color }};">
                                    {% image promise.status.icon width-1444 %}
                                </div>
                                <span class="mx-2 mx-md-0">
                                    {{ promise.status }}
                                </span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
