# garbage
**/.DS_Store
*.log
README.md

# docker
**/.dockerignore
**/Dockerfile
**/docker-compose.yaml
kustomize/

# git
**/.git
**/.gitignore
**/.gitmodules

# dev only stuff
**/.idea
**/.vscode
**/node_modules/

# django
/obljubadeladolg/media/
/obljubadeladolg/static/
*.sqlite3
**/settings/local.py

# python
**/__pycache__
*.pyc
*.swp
