
@font-face {
    font-family: "Open Sauce Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("OpenSauceSans-Regular.ttf") format("ttf"),
    url("OpenSauceSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Open Sauce Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("OpenSauceSans-Italic.ttf") format("ttf"),
    url("OpenSauceSans-Italic.ttf") format("ttf");
}

@font-face {
    font-family: "Open Sauce Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("OpenSauceSans-Bold.ttf") format("ttf"),
    url("OpenSauceSans-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Open Sauce Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("OpenSauceSans-BoldItalic.ttf") format("ttf"),
    url("OpenSauceSans-BoldItalic.ttf") format("ttf");
}
