// Set Bootstrap variables here.
// This file is included before Bootstrap is compiled.

$black: #000;

$body-color: $black;
$font-family-sans-serif: 'Comic Sans MS', sans-serif;
$headings-font-family: 'Comic Sans MS', serif;
$headings-font-weight: 700;

$border-radius: 0;
