// Set Bootstrap variables here.
// This file is included before Bootstrap is compiled.

$black: #000;

$body-color: $black;
$font-family-sans-serif: 'Darker Grotesque', sans-serif;
$font-family-open-sans: 'Open Sauce Sans', sans-serif;

// $headings-font-family: 'Comic Sans MS', serif;
// $headings-font-weight: 700;

$border-radius: 0;

$primary: #0f15c7;
$light: #fbfaf7;
$beige: #f8f7f2;
