// Add custom styles here.
// This file is included after Bootstrap.

// remove input number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

  .footer {
    margin-top:auto;
  }
}

table,
.table {
  table-layout: fixed; // use fixed table layout
  tr, td {
    border: none;
  }
  a {
    text-decoration: unset;
    color: unset;
  }
  tr {
    position: relative;
    border-top: 1px solid #bababa;
    &:last-child {
      border-bottom: 1px solid #bababa;
    }
    td:first-child {
      text-align: left;
      h6 {
        font-weight: 700;
      }
      .tag {
        font-size: 0.875rem;
        background-color: #eae4d8;
        border-radius: 1rem;
        padding: 0.125rem 0.5rem 0.25rem;
        white-space:nowrap;
        margin-bottom: 0.5rem;
        display: inline-block;
      }
    }
    td:last-child {
      span {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 600;
      }
      .status-circle {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background-color: #f3f4fc;
      h6 {
        color: $primary;
      }
    }
  }
}

.btn {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-family: $font-family-open-sans;
  box-shadow: -2px -1px 8px #d1d2ee, 3px 3px 9px rgba(120, 123, 198, 0.8);
}

.latest-button {
  span:first-child {
    display: inline-block;
    margin-right: 1rem;
  }
  .icon-arrow-right {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    transform: rotate(-90deg);
    background-image: url("../icons/arrow-down-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.bg-beige {
  background-color: $beige;
}
.bg-black {
  background-color: black;
}

input[type="text"] {
  border-color: $light;
  background-color: $light;
  border-radius: 1.5rem;
  color: black;
  font-weight: 500;
  font-size: 1.25rem;
  padding-right: 3rem;
  padding-left: 1rem;
  &:focus {
    border-color: $primary;
    outline: none;
    box-shadow: none;
  }
}

.input-btn {
  padding: 0.5rem;
  border-radius: 1.5rem;
  position: absolute;
  box-shadow: -2px -1px 8px #d1d2ee, 3px 3px 9px rgba(120, 123, 198, 0.8);
  span {
    height: 1rem;
    width: 1rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:hover {
    background-color: #0c119f;
  }
}

.go-input {
  input[type="text"] {
    font-size: 1rem;
    padding: 0.25rem 3rem 0.25rem 1rem;
    &:focus {
      border-color: black;
    }
  }
  .input-btn {
    top: 0.25rem;
    right: 0.25rem;
    padding: 0.25rem;
    span {
      height: 0.875rem;
      width: 0.875rem;
      background-image: url("../icons/arrow-down-white.svg");
      transform: rotate(-90deg);
    }
  }
}

.search-input {
  .input-btn {
    right: 1rem;
    top: 0.25rem;
    span {
      background-image: url("../icons/search.svg");
    }
  }
}

.select-input {
  select {
    border-radius: 1.5rem;
    border: 2px solid #ffffff;
    background-color: #e2e3f8;
    font-weight: 500;
    font-size: 1.25rem;
    padding-right: 3rem;
    box-shadow: -5px -4px 21px #6367de, 8px 9px 20px rgba(10, 14, 135, 0.8);
    cursor: pointer;
  }
  .input-btn {
    right: 0.25rem;
    top: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: none;
    span {
      background-image: url("../icons/arrow-down.svg");
    }
  }
}

.checkbox {
  position: relative;
  input {
    visibility: hidden;
    position: absolute;
  }
  label {
    padding-left: 1rem;
    cursor: pointer;
  }
  .custom-checkbox {
    position: absolute;
    left: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 4px;
    border: 1px black solid;
    background-color: $light;
    &:after {
      content: ' ';
      position: absolute;
      height: 0.75rem;
      width: 0.75rem;
      margin: 0.125rem;
      background-image: url("../icons/check.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
    }
  }
  input:checked + .custom-checkbox {
    &:after {
      opacity: 1;
    }
  }
}

.arrow-right {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  background-image: url("../icons/arrow-right-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.5rem;
}

.header {
  z-index: 100;
  .logo {
    img {
      width: 10rem;
    }
  }
  .nav-item {
    a, &:not(:last-child):after {
      font-weight: 700;
      font-size: 1.5rem;
      color: $light;
    }

    a:hover {
      text-decoration: underline;
    }

    &:not(:last-child):after {
      content: "/";
      position: absolute;
      right: -0.5rem;
      top: 0.5rem;
    }
  }
}

.hero {
  border-top: 2px solid #787bc6;
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  p {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.25;
  }
  a {
    text-decoration: none;
    color: $light;
    border-bottom: $light 1px dotted;
    padding-bottom: 5px;
    span {
      font-family: $font-family-open-sans;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.categories {
  a {
    text-decoration: none;
  }
  .category-box {
    border: 1px solid #bababa;
    height: 14rem;
    padding: 1rem 5rem 1rem 1rem;
    overflow: hidden;
    z-index: 10;
    h4 {
      color: $primary;
      font-weight: 900;
      line-height: 1;
    }
    .category-image {
      right: 0;
      top: 4rem;
      width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      box-shadow: -2px -1px 8px #d1d2ee, 3px 3px 9px rgba(120, 123, 198, 0.8);
      background-color: $light;
    }
  }
}

.search-section {
  z-index: 10;
  margin-bottom: 8rem;
}

footer {
  h5 {
    background-color: $primary;
    font-weight: 700;
    display: inline;
    padding: 0.125rem 0.25rem;

    &+div {
      font-family: $font-family-open-sans;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }
  .social-circle {
    border: 2px solid #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    span {
      display: block;
      width: 75%;
      height: 75%;
      background-size: cover;
      background-repeat: no-repeat;

      &.fb-icon {
        background-image: url("../icons/facebook-white.svg");
      }

      &.twitter-icon {
        background-image: url("../icons/twitter-white.svg");
      }
    }
    &:hover {
      background-color: $primary;
    }
  }
  .input-btn {
    border-color: black;
    &:hover {
      border-color: $primary;
    }
  }
  .checkbox {
    label {
      line-height: 1;
      font-family: $font-family-open-sans;
      font-size: 0.75rem;
      margin-left: 0.5rem;
    }
  }
  .footer-navigation {
    a {
      color: $light;
      font-family: $font-family-open-sans;
      font-size: 0.875rem;
      text-decoration: none;
      margin-right: 0.5rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  hr {
    border: 1px solid #939393;
    opacity: 1;
  }
  .logos {
    span {
      white-space: nowrap;
      font-family: $font-family-open-sans;
    }
    div:first-child {
      a {
        margin: 0 1rem;
      }
      img {
        height: 2rem;
      }
    }
    div:last-child {
      a {
        margin-left: 1rem;
      }
      img {
        width: 10rem;
      }
    }
  }
}

.rich-text {
  h2, h3, h4, h5 {
    font-family: $font-family-sans-serif;
    font-weight: 700;
    line-height: 0.8;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    margin-top: 2rem;
    font-size: 2.25rem;
  }
  p {
    font-family: $font-family-open-sans;
    font-weight: 300;
  }

}

.home-page {
  h2 {
    font-size: 3rem;
    font-weight: 700;
    z-index: 2;
  }
  .blob {
    position: absolute;
    top: -18rem;
    img {
      transform: rotate(190deg);
    }
  }
  .newsletter, .socials {
    padding: 1.5rem;
    h5 {
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
  .socials .social-circle {
    border: 2px solid #ffffff;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin-right: 1rem;
    span {
      display: block;
      width: 75%;
      height: 75%;
      background-size: cover;
      background-repeat: no-repeat;
      &.fb-icon {
        background-image: url("../icons/facebook-white.svg");
      }
      &.twitter-icon {
        background-image: url("../icons/twitter-white.svg");
      }
    }
    &:hover {
      background-color: rgba(10, 14, 135, 0.8);
    }
  }
  .newsletter-img {
    position: relative;
    img {
      position: absolute;
      right: 2rem;
      bottom: 0;
      width: 12rem;
      height: auto;
    }
  }
  .socials-img {
    position: relative;
    img {
      position: absolute;
      left: 0;
      width: 12rem;
      height: auto;
    }
  }
}

.content-page {
  .hero {
    h2 {
      font-weight: 700;
    }
  }
  .box {
    border: 4px solid #efeff2;
    margin: 0 0 3rem 4rem;
    padding: 1.5rem 1rem;
    text-align: center;
    h2 {
      color: $primary;
      font-weight: 700;
      line-height: 0.9;
    }
    h5 {
      font-weight: 700;
      line-height: 0.9;
    }
    .social-circle {
      border: 2px solid $primary;
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      span {
        width: 80%;
        height: 80%;
        &.fb-icon {
          background-image: url("../icons/facebook-blue.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
        &.twitter-icon {
          background-image: url("../icons/twitter-blue.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      &:hover {
        box-shadow: -2px -1px 8px #d1d2ee, 3px 3px 9px rgba(120, 123, 198, 0.8);
        background-color: $light;
      }
    }
    &.newsletter {
      input[type=text] {
        border: 1px solid #000000;
      }
      .input-btn {
        right: 0.25rem;
        span {
          background-image: url("../icons/arrow-down-white.svg");
          transform: rotate(-90deg);
        }
      }
      label {
        line-height: 1;
        font-family: $font-family-open-sans;
        font-size: 0.875rem;
        text-align: left;
        margin-left: 1rem;
      }
    }
  }
  .acf-logo {
    margin: 2rem 0;
    span {
      font-family: $font-family-open-sans;
      padding-right: 2rem;
    }
    img {
      max-width: 12rem;
    }
  }
}
.promise-page {
  .hero {
    h2 {
      font-weight: 700;
      line-height: 1;
    }
    .tag {
      font-family: $font-family-open-sans;
      font-weight: 300;
      color: black;
      background-color: #eae4d8;
      border-radius: 1rem;
      padding: 0.125rem 0.75rem;
      margin: 0 0.5rem 0.5rem 0;
      display: inline-block;
    }
    .quote {
      margin-left: 4rem;
      margin-top: 3rem;
      position: relative;
      p {
        font-size: 1.5rem;
        line-height: 1.1;
        font-weight: 400;
      }
      &:before {
        content: ' ';
        position: absolute;
        left: -4rem;
        top: -1rem;
        width: 3rem;
        height: 3rem;
        background-image: url("../icons/quote.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .promise-status {
      .white-blob {
        position: absolute;
        top: 0;
        width: 20rem;
        height: 20rem;
        background-image: url("../images/blob-white.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: scaleX(-1);
      }
      div:last-child {
        color: black;
        margin-left: 3rem;
        margin-top: 2rem;
        .icon {
          width: 3rem;
          height: 3rem;
          border-radius: 1.5rem;
          margin-bottom: 0.5rem;
          img {
            width: 2rem;
            height: 2rem;
          }
        }
        span {
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: 700;
        }
        hr {
          margin: 0.75rem 0;
        }
        p {
          font-size: 1rem;
          font-family: $font-family-open-sans;
          color: #565656;
        }
      }
    }

    .source {
      font-family: $font-family-open-sans;
      a {
        font-weight: 700;
      }
    }
  }
  .update {
    .status {
      white-space: nowrap;
      left: 2.75rem;
      .status-text {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border-radius: 2rem;
        background-color: white;
        text-transform: uppercase;
        white-space: nowrap;
        span {
          padding-left: 1rem;
          font-weight: 700;
          font-size: 0.875rem;
        }
        .icon-status {
          background-color: #f4dde0;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 1.25rem;
          //left: 3rem;
          img {
            width: 70%;
            height: 70%;
          }
        }
      }
      .date {
        padding-left: 1.5rem;
        font-weight: 700;
      }
    }
    .line {
      background-color: #490b12;
      width: 3px;
      flex-grow: 1;
    }
    &:last-child {
      .line {
        display: none;
      }
    }
  }

  .box {
    border: 4px solid #efeff2;
    margin: 0 0 3rem 4rem;
    padding: 1.5rem 1rem;
    text-align: center;
    h2 {
      color: $primary;
      font-weight: 700;
      line-height: 0.9;
    }
    h5 {
      font-weight: 700;
      line-height: 0.9;
    }
    .social-circle {
      background-color: $primary;
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      box-shadow: -2px -1px 8px #d1d2ee, 3px 3px 9px rgba(120, 123, 198, 0.8);
      span {
        width: 50%;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        &.fb-icon {
          background-image: url("../icons/facebook-white.svg");
        }
        &.twitter-icon {
          background-image: url("../icons/twitter-white.svg");
        }
        &.email-icon {
          width: 67%;
          height: 67%;
          background-image: url("../icons/email-white.png");
        }
      }
      &:hover {
        cursor: pointer;
        background-color: #0c119f;
      }
    }
    &.newsletter {
      input[type=text] {
        border: 1px solid #000000;
      }
      label {
        line-height: 1;
        font-family: $font-family-open-sans;
        font-size: 0.875rem;
        text-align: left;
        margin-left: 1rem;
      }
    }
  }
}

.promise-listing-page {
  .hero {
    h1 {
      line-height: 1;
    }
    label {
      font-weight: 500;
      font-size: 1.25rem;
      padding: 0 0 0.5rem 1rem;
    }
    .search-input {
      .input-btn {
        right: 0.25rem;
      }
    }
  }
}

.filters {
  a {
    text-decoration: none;
    color: #565656;
    &>div {
      display: inline-flex;
      align-items: center;
      margin: 0 0.125rem;
      padding: 0.25rem 0.5rem 0.25rem 0.25rem;
      border: 2px solid #efeff2;
      border-radius: 1.5rem;
      text-transform: uppercase;
      .status-circle {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      span {
        padding-left: 0.5rem;
        font-weight: 500;
        font-size: 0.875rem;
      }
      &:hover {
        border-color: #565656;
      }
    }
  }
}
