{% load static wagtailcore_tags %}
{% wagtail_site as current_site %}

<div class="header position-sticky top-0">
    <nav class="navbar navbar-expand-md bg-primary py-2">
        <div class="container justify-content-end">
            {% if request.path != "/" %}
            <a href="/">
                <div class="logo">
                    <img class="d-none d-lg-block" src="{% static 'images/ODD-logo.png' %}">
                    {% comment %}<span class="text-uppercase text-light" style="width: min-content;">{{ self.get_site.site_name }}</span>{% endcomment %}
                </div>
            </a>
            {% endif %}
            <button class="navbar-toggler btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </span>
            </button>
            <div class="collapse navbar-collapse mt-4 mt-md-0 justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% for header_link in settings.home.MetaSettings.header_links %}
                        <li class="nav-item position-relative mx-2">
                            <a class="nav-link text-light px-3 {% if request.path == header_link.value.page.url %}active{% endif %}"
                               href="{% if header_link.value.url %}{{ header_link.value.url }}{% elif header_link.value.page %}{% pageurl header_link.value.page %}{% endif %}">
                                {% if header_link.value.name %}
                                    {{ header_link.value.name }}
                                {% elif header_link.value.page %}
                                    {{ header_link.value.page.title }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
