{% load static wagtailcore_tags %}
{% wagtail_site as current_site %}

<div class="header position-sticky top-0">
    <nav class="navbar navbar-expand-md bg-primary py-2">
        <div class="container py-1">
            <div class="row w-100">
                <div class="col-lg-8">
                    <div class="d-flex">
                        <a href="/">
                            <div class="logo">
                                <img src="{% static 'images/ODD-logo.png' %}">
                            </div>
                        </a>
                        <div class="collapse navbar-collapse mt-4 mt-md-0" id="navbarNav">
                            <ul class="navbar-nav">
                                {% for header_link in settings.home.MetaSettings.header_links %}
                                    <li class="nav-item position-relative mx-2">
                                        <a class="nav-link position-relative text-light px-3 {% if request.path == header_link.value.page.url %}active{% endif %}"
                                           href="{% if header_link.value.url %}{{ header_link.value.url }}{% elif header_link.value.page %}{% pageurl header_link.value.page %}{% endif %}">
                                            <span>
                                                {% if header_link.value.name %}
                                                    {{ header_link.value.name }}
                                                {% elif header_link.value.page %}
                                                    {{ header_link.value.page.title }}
                                                {% endif %}
                                            </span>
                                            <svg class="link__graphic link__graphic--stroke link__graphic--scribble d-none d-lg-block" width="100%" height="9" viewBox="0 0 101 9"><path d="M.426 1.973C4.144 1.567 17.77-.514 21.443 1.48 24.296 3.026 24.844 4.627 27.5 7c3.075 2.748 6.642-4.141 10.066-4.688 7.517-1.2 13.237 5.425 17.59 2.745C58.5 3 60.464-1.786 66 2c1.996 1.365 3.174 3.737 5.286 4.41 5.423 1.727 25.34-7.981 29.14-1.294" pathLength="1"/></svg>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <form action="{% pageurl current_mandate %}" method="get">
                        <div class="search-input position-relative">
                            <input type="text" placeholder="Vpiši iskalni pojem" name="isci" class="form-control">
                            <button type="submit" class="input-btn btn-primary">
                                <span></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- mobile -->
            <button class="navbar-toggler btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </span>
            </button>
        </div>
    </nav>
</div>
